$primary: #234180;
$secondary: #fddb2f;
$body-bg: #192E5A;
$text-primary: #F6F6F4;
$box-shadow: 10px 5px 10px #0c152a;

@import '~bootstrap/scss/bootstrap.scss';

.card {
  background-color: $primary;
  color: $text-primary;
  box-shadow: $box-shadow;
  margin-bottom: 20px;
}

.card-title.h5,
.card-text {
  color: $text-primary;
}

.details-button {
  margin-bottom: 10px;
  margin-right: 10px;
}