$primary: #234180;
$secondary: #fddb2f;
$body-bg: #192E5A;
$text-primary: #F6F6F4;

@import '~bootstrap/scss/bootstrap.scss';


.body {
  background-color: $body-bg;
  color: $text-primary;
}

.card {
  color: $text-primary;
}

.form-label {
  color: $text-primary;
}

.form-label > input::placeholder {
  color: #325bb3;
  font-size: 0.9em;
}

input.form-control:focus {
  color: $text-primary;
}

input.form-control {
  color: $text-primary;
}

.form-control {
  color: $text-primary;
}

input.birthday-input.form-control {
  color: $text-primary;
  font-size: 0.9em;
}

.welcome-message-container {
  text-align: center;
  color: $text-primary;
  margin-bottom: 35px;
}

.welcome-message-container>h1 {
  color: $secondary;
}

// .name-input:required {
//   border: 1px solid red;
// }

.name-input:valid {
  border: 1px solid green;
}

// .password-input:required {
//   border: 1px solid red;
// }

.password-input:valid {
  border: 1px solid green;
}

// .email-input:required {
//   border: 1px solid red;
// }

.email-input:valid {
  border: 1px solid green;
}

.link p {
  color: #325bb3;
  text-decoration: underline #325bb3;;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 0.9em;
}