$primary: #234180;
$secondary: #fddb2f;
$body-bg: #192E5A;
$text-primary: #F6F6F4;

@import '~bootstrap/scss/bootstrap.scss';


.body {
  background-color: $body-bg;
  color: $text-primary;
}

.card {
  color: $text-primary;
}

.form-label {
  color: $text-primary;
}

input.form-control {
  color: $text-primary;
}

input.form-control:focus {
  color: $text-primary;
}

.link p {
  color: #325bb3;
  text-decoration: underline #325bb3;
  ;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 0.9em;
}