$primary: #234180;
$secondary: #fddb2f;
$body-bg: #192E5A;
$text-primary: #F6F6F4;

@import '~bootstrap/scss/bootstrap.scss';


.body {
  background-color: $body-bg;
  color: $text-primary;
}

.card {
  color: $text-primary;
}

.form-label {
  color: $text-primary;
}

input.custom-input-text-color.form-control {
  color: $text-primary;
}